<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="HTML" path="*.html" verb="GET, POST" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="File"  />
        </handlers>
    </system.webServer>
</configuration>
